@keyframes expandWidth {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.benchmark {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benchmark__title {
  font-size: 2rem;
}

.benchmark__subtitle {
  font-size: 1.5rem;
}

.benchmark_columns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  gap: 2rem;
}

.chart {
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  overflow-x: hidden;
  display: flex;
}

/*fast-styles: #ffc72c*/
/*native-base:#50bfc2*/
/*styled-components:#c04f74 */
/*react: #61dafb*/
/*gluestack: #3fb6ac*/
/*tamagui: #ff8ee8*/

.barContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}
.bar {
  height: 30px;
  animation-timing-function: linear;
}
.text {
  display: block;
  color: var(--ifm-font-color-base);
  opacity: 0;
  margin-left: 10px;
  animation-name: fadeInText;
  animation-fill-mode: forwards;
  animation-duration: 500ms;
}

.text.fast {
  animation-delay: 228ms;
}

.text.vanilla {
  animation-delay: 252ms;
}

.text.styled {
  animation-delay: 306ms;
}

.text.tamagui {
  animation-delay: 852ms;
}

.text.gluestack {
  animation-delay: 2496ms;
}

.bar.fast {
  width: 50px;
  background-color: #ffc72c;
}
.bar.fast {
  animation: expandWidth 228ms;
}

.bar.vanilla {
  width: 56px;
  background-color: #61dafb;
  animation: expandWidth 252ms;
  animation-timing-function: linear;
}
.bar.styled {
  width: 72px;
  background-color: #c04f74;
  animation: expandWidth 306ms;
  animation-timing-function: linear;
}

.bar.tamagui {
  width: 152px;
  background-color: #ff8ee8;
  animation: expandWidth 852ms;
  animation-timing-function: linear;
}

.bar.gluestack {
  width: 280px;
  background-color: #50bfc2;
  animation: expandWidth 2496ms;
  animation-timing-function: linear;
}
